.header {
  box-shadow: 0 7px 31px -8px rgba(101, 101, 101, 0.1);
}

.header_content {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 18px;
}

.header_left {
  display: flex;
}

.user_pic_container {
  width: 46px;
  height: 46px;
  border-radius: 8px;
  background-color: #f4f4f4;
  text-align: center;
  cursor: pointer;
}

.user_pic_container svg {
  margin-top: 11px;
}

.search_container {
  position: relative;
  background-color: #f4f4f4;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 46px;
  margin-left: 9px;
}

.search_container input {
  border: none;
  background-color: transparent;
  outline: none;
  padding: 0 13px 0 35px;
  width: 100%;
}

.search_container input::placeholder {
  color: #b5b5b5;
  font-size: 16px;
  font-weight: normal;
}

.search_container input::-webkit-search-cancel-button {
  display: none;
}

.search_container svg {
  position: absolute;
  left: 12px;
}

.header_middle {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header_middle svg {
  padding: 0 2.5px 0 2.5px;
}

.header_right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopping_cart_container {
  position: relative;
  width: 46px;
  height: 46px;
  border-radius: 8px;
  background-color: #f4f4f4;
  cursor: pointer;
  text-align: center;
  margin-right: 9px;
  transition: 0.3s;
}

.shopping_cart_container svg {
  margin-top: 10px;
}

.shopping_cart_container div {
  position: absolute;
  top: -3px;
  left: -2px;
  z-index: 99;
  width: 18px;
  height: 18px;
  background-color: #f45858;
  border-radius: 50px;
  color: #fdfdfd;
  font-size: 14px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3px;
}

.menu_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 138px;
  height: 46px;
  border-radius: 8px;
  background-color: #f4f4f4;
  cursor: pointer;
}

.menu_container p {
  margin: 0;
  padding: 0;
  margin-right: 7px;
  color: #4b416a;
  font-size: 16px;
  font-weight: normal;
}

.shopping_cart_plate {
  position: absolute;
  top: 73.5px;
  right: 147px;
  width: 238px;
  max-height: 0px;
  opacity: 0;
  background: #4b416a;
  border-radius: 8px;
  z-index: 99;
  padding: 18px;
  padding-top: 0px;
  overflow: hidden;
  transition: opacity 0.3s 0.1s, max-height 0.3s 0s;
}

.shopping_cart_plate_title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 18px;
  cursor: pointer;
}

.shopping_cart_plate_title svg {
  margin-right: 11px;
}

.shopping_cart_plate_title p {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.shopping_cart_empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 2px solid #ffffff;
  border-style: dashed;
  border-radius: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 18px;
}

.shopping_cart_empty p {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}

.shopping_cart_empty div {
  width: 100px;
}

.shopping_cart_plate_show {
  opacity: 1;
  max-height: 1000px;
}

.shopping_cart_container_active {
  background-color: #4b416a;
}

.shopping_cart_product_image {
  width: 38.45px;
}

.shopping_cart_products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
}

.shopping_cart_product_image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 58px;
  border-radius: 50px;
  background-color: #ffffff;
}

.shopping_cart_product_add_remove {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 23px;
  border-radius: 4px;
  background-color: #ffffff;
}

.shopping_cart_product_add_remove button {
  position: relative;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
}

.shopping_cart_product_add_remove p {
  padding: 0;
  margin: 0 12px;
  font-size: 14.5px;
  font-weight: 800;
  color: #a698cf;
  line-height: 20px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.shopping_cart_product_remover {
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -7px;
}

.hide {
  display: none;
}

@media only screen and (max-width: 725px) {
  .header {
    display: none;
  }
}

@media only screen and (min-width: 1510px) {
  .header_content {
    width: 1218px;
    margin: auto;
  }
}
