.profile_right_upside_container {
    background-color: #f4f4f4;
    border-radius: 8px;
    padding-top: 28px;
    padding-bottom: 32px;
}

.profile_right_upside_inf {
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 28px;
}

.profile_right_upside_inf_texts {
    margin-right: 11px;
}

.profile_right_upside_inf_texts p:first-child,
.profile_right_upside_inf_texts p:last-child {
    font-size: 16px;
    font-weight: 800;
    color: #4B416A;
}

.profile_right_upside_inf_texts p:last-child {
    font-weight: normal;
    margin-top: 2px;
}

.profile_right_upside_inf_edit {
    position: absolute;
    left: 28px;
    cursor: pointer;
}

.profile_right_upside_inf_image {
    width: 62px;
}

.profile_right_upside_last_order,
.profile_right_upside_address,
.profile_right_upside_favorites_list,
.profile_right_upside_comments,
.profile_right_upside_logout {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 28px;
    font-size: 16px;
    font-weight: 500;
    color: #4B416A;
}

.profile_right_upside_last_order {
    padding-right: 49.34px;
    margin-top: 35px;
}

.profile_right_upside_last_order p {
    margin-right: 26px;
}

.profile_right_upside_address {
    padding-right: 46.97px;
}

.profile_right_upside_address p {
    margin-right: 27px;
}

.profile_right_upside_favorites_list {
    padding-right: 48px;
}

.profile_right_upside_favorites_list p {
    margin-right: 26px;
}

.profile_right_upside_comments {
    padding-right: 47px;
}

.profile_right_upside_comments p {
    margin-right: 24px;
}

.profile_right_upside_logout {
    padding-right: 46px;
}

.profile_right_upside_logout p {
    margin-right: 26px;
}